.section {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.meal {
  width: 60%;
}

.info {
  width: 40%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.youtube {
  width: 100%;
}

.recommend {
  width: 100%;
}

.loadingContainer {
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 10em;
  height: 10em;
  display: block;
  border: 1em solid gray;
  border-radius: 50%;
  border-top: 1em solid black;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
