.youtube {
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

iframe {
  margin-bottom: 0.5rem;
}

.p {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.15rem;
}

.pre {
  white-space: pre-line;
}
