.ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  padding: 0 2em;
}

.loadingContainer {
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 10em;
  height: 10em;
  display: block;
  border: 1em solid gray;
  border-radius: 50%;
  border-top: 1em solid black;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
