header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 2em;
  background-color: #f0ece2;
  margin-bottom: 3em;
}

.title {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  color: #4d371c;
  cursor: pointer;
  font-weight: 500;
  margin-right: 0.5em;
}

.div {
  border-bottom: 0.15em solid rgb(173, 133, 84);
}

.input {
  all: unset;
  font-size: 20px;
  padding: 5px;
  font-size: 1.2em;
  color: #804d14;
}

.icon {
  font-size: 1.3em;
  color: rgb(173, 133, 84);
}

.button {
  all: unset;
}
