@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans KR, sans-serif;
}

body {
  width: 100vw;
  max-width: 100%;
  min-width: 900px;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

svg {
  cursor: pointer;
}

.check {
  text-decoration: solid line-through #4b3215 3px;
}

.pointer {
  cursor: pointer;
}
