.h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2em;
  color: #4b3215;
}

.p {
  color: #804d14;
}
.ul {
  max-height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.container {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
