.h2 {
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 3em;
}

.ul {
  max-height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.container {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
